[submodule "strsplit"]
	path = strsplit
	url = https://github.com/jym272/strsplit
[submodule "vecmac"]
	path = vecmac
	url = https://github.com/jym272/vecmac
[submodule "iterators-rust"]
	path = iterators-rust
	url = https://github.com/jym272/iterators-rust
